@using TrustMeNews.Services
@{
    string genreApiKey = "https://content.guardianapis.com/sections?api-key=d0bd9a0e-8101-4525-8604-4ad01023d10c";
    NewsApiService newsApiService = new NewsApiService();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrustMeNews</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfbB22iIRsPNEXcAqUTKFVdlPIn3_HN4Z2MQ&usqp=CAU" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script type="text/javascript" src="~/js/site.js" defer></script>
    <script type="text/javascript" src="~/js/controller.js" defer></script>
    <script type="text/javascript" src="~/js/app.js" defer></script>
</head>
<body>
    <header>
        <div class="header">
            <img class="bonnieclyde" src="~/bc.png" />
            <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">TrustMeNews</a>
        </div>
        <nav class="navbar navbar-default" style="margin-top: 80px">
            <div class="container-fluid">
                <ul class="nav navbar-nav" style="display:contents">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    @foreach (Genre genre in newsApiService.SendGenreRequest(genreApiKey).GetAwaiter().GetResult())
                    {
                        <li class="nav-item">
                            <a class="nav-link genre text-dark" id="@genre.id">@genre.webTitle</a>
                        </li>
                    }
                </ul>
            </div>
            <form action="/Home/Result" method="get">

                <input id="inpSearch" placeholder="Search content" asp-controller="Home" asp-action="Result" />
            </form>
        </nav>
    </header>
    <div class="container-fl">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TrustMeNews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
