@using TrustMeNews.Services
@{
    NewsApiService newsApiService = new NewsApiService();
    string genreApiKey = $"https://content.guardianapis.com/sections?{NewsApiService.API_KEY}";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TrustMeNews</title>
    <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSfbB22iIRsPNEXcAqUTKFVdlPIn3_HN4Z2MQ&usqp=CAU" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script type="text/javascript" src="~/js/site.js" defer></script>
    <script type="text/javascript" src="~/js/controller.js" defer></script>
    <script type="text/javascript" src="~/js/app.js" defer></script>
</head>
<body>
    <header>
        <nav class="navbar position background-light" style="">
            <img class="bonnieclyde" src="~/bc.png" />
            <a class="navbar-brand dark" asp-area="" asp-controller="Home" asp-action="Index">TrustMeNews</a>
            <div class="container-fluid">
                <ul class="nav navbar-nav" style="display:contents">
                    <li class="nav-item">
                        <a class="nav-link dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                    <li class="dropdown-menu-own">
                        <button class="dropbtn dark">Genres</button>
                        <div class="dropdown-content">
                            @foreach (Genre genre in newsApiService.SendGenreRequest(genreApiKey).GetAwaiter().GetResult())
                            {
                                <a class="genre light-theme" id="@genre.id">@genre.webTitle</a>
                            }
                        </div>
                    </li>
                    <li class="nav-item">
                        <button class="darktheme">DARK</button>
                        <button class="lighttheme">LIGHT</button>
                    </li>
                </ul>
            </div>
            <input id="inpSearch" placeholder="Search content" asp-controller="SearchBar" />
            <div class="user-related">
                <a class="registration" asp-area="" asp-controller="User" asp-action="Create">Register</a>
                <a class="login" asp-area="" asp-controller="User" asp-action="Login">Login</a>
            </div>
        </nav>
    </header>
    <div class="container-fl">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TrustMeNews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
