@using TrustMeNews.Services;
@model IEnumerable<TrustMeNews.Models.Result>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="articles" style="padding-top: 70px">
    @if (ViewData["sessionId"] != null)
    {
        <h1>@ViewData["sessionId"]</h1>
    }

    @foreach (Result article in Model)
    {
        <div class="article article-light" id="@article.id">
            <a><img class="image" src="@article.fields.thumbnail" /></a>
            <p>@article.webPublicationDate</p>
            <h5>@article.webTitle<a asp-controller="User" asp-action="AddArticle"> <img class="star" src="~/star.png" /></a></h5>
            <p>@article.fields.trailText</p>
            <h6>@article.fields.byline</h6>
        </div>
    }
</div>
