@using TrustMeNews.Services;
@model IEnumerable<TrustMeNews.Models.Result>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="articles" style="padding-top: 70px">

    @foreach (Result article in Model)
    {
        <div class="article" id="@article.id">
            <img class="image" src="@article.fields.thumbnail" />
            <p>@article.webPublicationDate</p>
            <h5>@article.webTitle</h5>
            <p>@article.fields.trailText</p>
            <h6>@article.fields.byline</h6>
        </div>
    }
</div>
