@using TrustMeNews.Services;
@model IEnumerable<TrustMeNews.Models.Result>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="articles" style="padding-top: 70px">
    @if (ViewData["sessionId"] != null)
    {
        <h1>@ViewData["sessionId"]</h1>
    }

    @foreach (Result article in Model)
    {
        <div class="article article-light" id="@article.id">
            <img class="image" src="@article.fields.thumbnail" />
            <p>@article.webPublicationDate</p>
            <h5>@article.webTitle
                <i class="fa fa-star" aria-hidden="true"></i>
            </h5>
            <p>@article.fields.trailText</p>
            <h6>@article.fields.byline</h6>
        </div>
    }
</div>
